[Unit]
Description=SRG-3352x Generic Board Startup
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh /etc/srg52/generic-startup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
