[Unit]
Description=SRG-3352C WL18xx wlan0 Service
After=local-fs.target, srg52c-bluetooth.service

[Service]
ExecStart=/usr/bin/srg52c-wl18xx-wlan0
Type=forking
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target