ACTION!="add", GOTO="expb_end"

SUBSYSTEMS=="usb", KERNELS=="1-1.4.1", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="ttyMU0"
SUBSYSTEMS=="usb", KERNELS=="1-1.4.2", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="ttyMU1"

LABEL="expb_end"
