[Unit]
Description=SRG-3352x uartmode services
After=network.target

[Service]
Type=simple
ExecStart=/etc/srg52/inituartmode.sh

[Install]
WantedBy=multi-user.target
